<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>

<h2>
    Hello <%= user %>, Welcome to your profile
</h2>

<form action="/logout" method="post">
    <input type="submit" value="logout"/>
</form>

<a href="/post">Create a new post</a>

<div>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <div>
                    <%= post.title %><br/>
                    <%= post.body %><br/>
                    <%= post.createdAt.getDay() %>
                    <% let mo = post.createdAt.getMonth() %>
                    <%= months[mo] %>
                    <%= post.createdAt.getFullYear() %>
                </div>
            </li>
        <% }) %>
    </ul>
</div>
</body>
</html>